.header{
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
}

/* overlay oscuro */
.header::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  position: relative;
  z-index: 2;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links a{
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover{
  opacity: 0.8;
}

/* HERO CONTENT */

.header-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 20px;
}

.header-content h1{
  font-size: 50px;
  margin-bottom: 15px;
}

.header-content p{
  font-size: 20px;
  max-width: 600px;
  margin-bottom: 25px;
}

/* BOTON */

.contact-btn{
  background: #9bd36a;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.contact-btn:hover{
  background: #7fbe4f;
}