/*Estilos para la primera card (imagen de bienvenida) */
.primera-card {
    position: relative; 
    text-align: center;
    color: white; /* Color del texto */
}

.primera-card .portada {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
}

.primera-card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 30px;
        font-weight: medium;
        margin: 20px 0;
        padding-bottom: 10px;
    }
    button {
        background-color: #c4d898;
        color: #012501;
        font-weight: bold;
        font-size: 20px;
    }
}

/* Estilos para segunda card (Descubre soda y galeria de imagenes) */

/*Fondo del contenedor*/
.segunda-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/card2-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vh 10vh;
    align-items: center;
    justify-content: center;
    color: #012501;
}

.segunda-card-content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 80%;
    height: auto;
}

.descubre-img {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
}

.segunda-card-text {
    padding: 20px;
    padding-left: 100px;
    width: 50%;
    color : #012501;
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 15px;
    }
}

/*Servicios*/

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/servicios-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vh 10vh;
    gap: 25px; /* Espacio entre el título y las tarjetas */
    h2 {
        font-size: 30px;
    }
}

.servicios-container {
    display: flex;
    gap: 20px; /* Espacio para que las tarjetas no choquen entre si y que hayan huequitos */
    justify-content: center;
    width: 75%;
}

.servicios-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    width: 40vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #012501;
    h2 {
        font-size: 24px;
        margin: 0.8rem 0 0.5rem;
    }
    p {
        font-size: 15px;
        margin: 0;
    }
}

.servicios-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 auto 15px;
}